* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  background-color: #09090A;  
  height: 100vh;
  color: white;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #09090A;  
  padding: 4.8rem;

  position: fixed;
  width: 100%;
}

button{
  border-radius: .8rem;
  border: 1px solid #8B5CF6;
  padding: 1.6rem 2.4rem;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
  
}

#form-habits{
  display: flex;

  width: fit-content;

  padding: 18.2rem 4.8rem 4.8rem;
}

.habits{
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.habit{
  width: 6.4rem;
  height: 6.4rem;

  font-size: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days{
  display: flex;
  margin-left: 3.2rem;
  gap: 4.8rem;
}

.day{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.day div{
  margin-bottom: .8rem;

  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  line-height: 125%;

  color: #A1A1AA;

  text-align: center;

}

input {
  appearance: none;
  -webkit-appearance: none;

  height: 6.4rem;
  width: 6.4rem;

  border: 2px solid #27272A;
  border-radius: .8rem;

  background: #18181B;
}

input:checked{
  background: #8B5CF6; 
  border: 2px solid #A78BFA;
}

@media (max-width: 570px){
  button div{
    display: none;
  }
}